
/* INTERFACE ------------------------------------------------------------------- */

/* paged js interface and screen view css */
@import "interface.css";

/* uncomment for recto/verso book : */
/* @import "interface/recto-verso.css"; */

/* uncomment to see the baseline : */
/* @import "interface/baseline.css"; */

body    {color: green;
}

@page   {marks:crop;
    background-color: red;
    size: 52.5mm 210mm;}

